.settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 393px;
  width: 100%;
  height: fit-content;
  height: 852px;
  border: 1px solid #000;
  border-radius: 24px;
  overflow: hidden;
  padding: 20px;
}

.gridded__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.settings-header__item {
  font-size: 20px;
  font-weight: 500;
}

.settings-heading__title {
  font-size: 16px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
