.balance {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  max-width: 393px;
  width: 100%;
  height: fit-content;
  height: 852px;
  border: 1px solid #000;
  border-radius: 24px;
  overflow: hidden;
}

.offset-top {
  padding-top: 20%;
}

.header__wrapper {
  background-image: url("../../img/bg-balance.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 393px;
  height: 202px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__item {
  color: var(--text);
}

.notification-icon {
  background-image: url("../../img/notifications.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.settings-icon {
  background-image: url("../../img/settings.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.value {
  font-size: 34px;
  color: var(--text);
  font-weight: 600;
}

.value--minor {
  font-weight: 400;
}

.balance__buttons {
  position: absolute;
  top: 172px;
  left: calc(50% - 75px);
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.button__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  color: #1d1d1f;
}

.test {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

.button__icon__wrapper {
  padding: 12px;
  border-radius: 50%;
  background-color: var(--blue);
}

.button__icon-receive {
  background-image: url("../../img/receive.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.button__icon-send {
  background-image: url("../../img/send.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.transactions-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  height: 100%;
  max-height: 480px;
}

.transaction {
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.transaction__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.transaction__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repaet;
}

.transaction__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.transaction__title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.transaction__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 12px;
  color: #939199;
  width: fit-content;
}

.transaction__date {
  position: relative;
}

.transaction__date::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #939199;
  position: absolute;
  right: -6px;
  top: calc(50% - 1px);
}

.transaction__sum {
  color: var(--green);
  font-size: 16px;
  font-weight: 600;
}

.transaction__subsum {
  font-weight: 400;
}

.transaction__sum--receive {
  color: var(--green);
}

.transaction__sum--send {
  color: #1d1d1f;
}

.transaction__icon--coinbase {
  background-image: url("../../img/coinbase.svg");
}

.transaction__icon--stripe {
  background-image: url("../../img/stripe.svg");
}

.transaction__icon--user {
  background-image: url("../../img/user.svg");
}
