.main-page {
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 24px;
  padding: 0px 0px 20px 0px;
  margin: 0 auto;
  max-width: 393px;
  width: 100%;
  height: fit-content;
}

.hero {
  width: 393px;
  height: 583px;
  border-radius: 24px;
}

.hero__block {
  padding-top: 100px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__title {
  font-size: 42px;
  font-weight: 600;
}

.hero__text {
  font-size: 20px;
}

.storage {
  position: absolute;
  top: 250px;
  right: -40px;
  height: 400px;
  width: 400px;
  background-position: center;
}

.buttons-container {
  padding: 0 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
